<html>
<title>Barcodatron9k</title>
<body>
<img src="static/app/bc9k.png" width="25%" style="display: block; margin-left: auto; margin-right: auto">
<br>
{% block content %}

{% endblock %}
</body>
</html>