{% extends 'base.html.j2' %}
{% block content %}
    <div style="margin-left: 25em;margin-right: 25em; margin-bottom: 5em; text-align: left; box-shadow: aqua; border: aliceblue">
        <p>Whoops, you shouldn't be here. This endpoint is used to generate a barcode.</p>
        <p>To generate a barcode, pass some text data as a parameter to 'data' in the URL as per the example below:</p>
        <a href="{{ request.base_url }}?data=test">{{ request.base_url }}?data=test</a>
        <hr>
        <p>To resize the image, pass either 'scale' or a combination of 'width' and 'height'.</p>
        <p>The datamatrix code will be generated at the original size, and then resized to the specified.</p>
        <p>For example, the 'test' matrix will generate at 12x12 pixels. A scale of '2' would output 24x24, or manually specified at any other size.</p>
        <a href="{{ request.base_url }}?data=test&scale=2">{{ request.base_url }}?data=test&scale=2</a><br>
        <a href="{{ request.base_url }}?data=test&width=144&height=144">{{ request.base_url }}?data=test&width=144&height=144</a>
    </div>
{% endblock %}